body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
}


.container {
  display: flex;
  height: 120vh;
}

/* Sidebar */
.sidebar {
  background: #7caeff;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 10px;
  color: white;
  font-weight: bold;


}
.logo {
  
  width: 220px;
  height: 150px;}

.nav-buttons{
  display: flex;
  gap: 50px;   /* aumenta a distância entre os botões */
}
/* Conteúdo principal */
.main-content {
  flex: 1;
  padding: 20px;
}

/* Navegação */
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

nav button {
  background: #c9f3ee;
  border: none;
  padding: 8px 15px;
  margin: 0 5px;
  border-radius: 20px;
  cursor: pointer;
}

nav .active {
  background: #7ce2d1;
}

.perfil-btn {
  font-size: 25px;
  cursor: pointer;
}

/* Conteúdo */
.conteudo {
  display: flex;
  justify-content: space-between;
}

/* Lista de atividades */
.atividades {
  flex: 1;
  max-width: 65%;
}

.atividade {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eaeaea;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 12px;
}

.atividade h3 {
  margin: 0;
}

.atividade.roxo {
  background: #d9d2f7;
}

.atividade.verde {
  background: #d6f7e2;
}

.entrar {
  background: white;
  border: none;
  padding: 8px 15px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
}

/* Progresso */
.progresso {
  width: 30%;
  text-align: center;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px auto;
  background: conic-gradient(#7ce2d1 0% 8%, #e0e0e0 8% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

#percent {
  font-size: 24px;
  font-weight: bold;
}

.legenda {
  margin-top: 10px;
  font-size: 14px;
}

.roxo-dot, .verde-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 5px;
}

.roxo-dot {
  background: #d9d2f7;
}

.verde-dot {
  background: #d6f7e2;
}
