/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
 body{
    background-color: #111;
 }
/* Container principal */
.container {
  display: flex;
  width: 100%;
  height: 945px;
  border-radius: 10px;
  overflow: hidden;
}

/* Lado esquerdo */
.left {
  width: 50%;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.left h2 {
  font-size: 22px;
  color: #111;
}

.logo {
  width: 600px;
}


/* Lado direito */
.right {
  width: 50%;
  background: #7AA9FF;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right h1 {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #111;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

form {

  margin-top: 1px;
  padding: 100px 10px;
  display: flex;
  flex-direction: column;
  width:  600px;
  max-width: 10000px;
  height: 600px;
  max-height: 10000px;
}

label {
  margin-top: 10px;
  font-size: 13px;
  font-weight: bold;
}

input {
      padding: 5px;
      border-radius: 20px;
      border: 2px solid #98d4cf;
      background-color: #6ba7f9;
      outline: none;
      font-size: 16px;
      color: #000;
      box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}

.senha{
  width: 200px;
}

button {
  margin: 189px;
  width: 200px;
  margin-top: 180px;
  padding: 15px;
  border: none;
  border-radius: 20px;
  background: #b3e5e1;
  font-weight: bold;
  color: #7AA9FF;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #98d4cf;
}

a {
  margin-top: 15px;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
}
